* {
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
}

.logo {
    width: 168px;
    height: 40px;
}

.fuente-titulo {
    font-family: 'Varela Round', sans-serif;
}

.tamanio-div {
    height: 50vh;
}

.centrar-texto {
    text-align: center;
}

.tamanio-seccion2 {
    height: 100vh;
}

.btn-publicar {
    border-radius: 25px;
    background-color: rgb(45, 94, 237)!important;
    border: rgb(45, 94, 237)!important;
    color: #fff;
}

.btn-publicar:hover {
    color: #fff!important;
    background-color: rgb(15, 64, 211)!important;;
}

.btn-link {
    text-decoration: none;
}

.text-secondary:hover {
    color: black!important;
}


/* Cards */
.cards-tamanio {
    width: 75rem;
}

.cards-tamanio:hover {
    filter:  drop-shadow(16px 16px 20px rgb(45, 94, 237));
    transform: scale(1.1);
    transition: transform 0.9s;
}

.top2 {
    margin-top: 80px;
}


/* Iconos */
.top  {
    margin-top: 150px;
}

.centrar-iconos {
    display: block;
    margin: auto;
    padding: 10px;
}

.alinear-botones {
    position: relative;
    min-height: 300px;
}

.boton-alineado {
    position: absolute;
    bottom: 20px;
    margin-left: 100px;
}

/* Animacion iconos */ 

.icono-wp:hover {   
    color:  rgb(21, 166, 21)!important;
    transform: scale(1.2);
}

.icono-insta:hover {   
    color:  rgb(221,42,123)!important;
    transform: scale(1.2);
}

.icono-face:hover {   
    color:  rgb(37, 123, 177)!important;
    transform: scale(1.2);
}

.fondo-iconos {
    background-color: rgb(216, 231, 240);
}


.acomodarNav {
    display: flex!important;
    justify-content: flex-start!important;
    left: 100px;
}

/* Menu hamburguesa */
.panel {
    position: fixed;
    z-index: 998;
    width: 65%;
    top: 0;
    bottom: 0;
    transform: translate(-200%, 0);
    transition: transform 0.3s ease;
    padding: 30px;
}

.panel-active {
    transform: translate(0, 0);
    background-color: #fff;
}

.panel-btn {
    position: fixed;
    z-index: 999;
    top: 1vh;
    left: 4vw;
    width: 1rem;
    height: 4rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-ham {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-ham a {
    padding: 1rem;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none;
}

.menu-ham a:hover {
    font-weight: bold;
}



/* Media queries */
.hide {
    display: none;
}

.mostrar {
    display: flex;
}

.registro-centrado {
    display: flex;
}

.card-responsive {
    display: flex;
}

@media (max-width: 990px) {
    .registro-centrado {
        display: flex;
        justify-content: center;
    }

    .boton-alineado {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .card-responsive {
        justify-content: center;
        margin-top: 20px;
    }

    .cards-tamanio {
        width: fit-content;
    }

    .footer-responsive {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .centrado-responsive {
        text-align: center;
    }

    .alinear-botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
    }
    
    .boton-alineado {
        position: static;
    }
}

@media (max-width: 632px) {
    .hide {
        display: block;
    }

    .mostrar {
        display: none!important;
    }
}




